<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Alison Wu | Front-end Developer

    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
    link(rel="stylesheet", href="css/basic.css")
    link(rel="stylesheet", href="css/logo.css")
    link(rel="stylesheet", href="css/main.css")
    
    
  body

  .container
    header.header
      a(href="#intro").logo
        .jersey
          .jersey__left
          .jersey__middle
            .jersey__name WU
            .jersey__number 6
          .jersey__right
      nav.nav
        a(href="#skills") Skills
        a(href="#portfolio") Portfolio
        //- a(href="#about") About
        a(href="#contact") Contact
    main.intro#intro
      .intro__img
        img(src="images/alisonwu.png", alt="Alison Wu") 
      .intro__text
        h2.text--shadow Hello.
        h2.text--shadow I am Alison.
        h3 A self-taught Front-end Developer.
    section.skills#skills
      .description
        h3.description__title Skills
        .text--decoration
        p.description__subtitle Code for system, Not for pages.
      .skills__items
        .skills__item
          h4 HTML :
          ul
            li Pug 
            li Semantic Tags for SEO
            li Reduce unnecessary nested structure
            li Emmet for efficiency
        .skills__item
          h4 CSS :
          ul
            li SASS
            li BEM Naming Style
            li OOCSS
            li Grid - Layout First
            li Flexbox - Content First
            li CSS Variables
        .skills__item
          h4 JavaScript :
          ul
            li jQuery
            li Validation
            li Ajax
            li Json-Server
              ul
                li Vue.js (Currently learning)
        .skills__item
          h4 Others :
          ul
            li Gulp 
            li Git Version Control
    section.portfolio#portfolio
      .description
        h3.description__title Portfolio
        .text--decoration
        p.description__subtitle I am working on it.
      .portfolio__items
        .portfolio__item
          img(src="images/mobile_first.png", alt="")
          a(href="https://alisonwu6.github.io/Boostrap-practice-with-RWD/")  
            h5 開發方式：RWD / Bootstrap 
        .portfolio__item
          img(src="https://fakeimg.pl/320x240/ccc/", alt="")
          a(href="")
            h5 Coming Soon
        .portfolio__item
          img(src="https://fakeimg.pl/320x240/ccc/", alt="")
          a(href="")
            h5 Coming Soon
          
    //- section.about#about
    //-   .description
    //-     h3.description__title About
    //-     .text--decoration
    //-     p.description__subtitle Nothing ventured, nothing gained.
    //-   .about__item
    //-   .about__item
    section.contact#contact
      .description
        h3.description__title Contact
        .text--decoration
        p.description__subtitle Get in touch with me.
      form.contact__form
        input#name(type="text", name="text" placeholder="Your name" required)
        input#email(type="email", name="email" placeholder="Your email" required)
        textarea#message(name="message", cols="30", rows="10" placeholder="Comment" required)
        button.contact__button(type="submit") Send it
    footer.footer
      .socialmedia
        a(class="fab fa-github" href="https://github.com/alisonwu6" title="Github" target="_blank")
        a(class="fab fa-free-code-camp" href="https://freecodecamp.org/alisonwu_6" title="Free Code Camp" target="_blank")
      div &copy; 2018 | Alison Wu
  script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
  script(src="https://www.gstatic.com/firebasejs/5.6.0/firebase.js")
  script(src="js/main.js")

